<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>620115491413-9g1k71n2sf5la8l5dmlsmhvgu1rekdj4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.620115491413-9g1k71n2sf5la8l5dmlsmhvgu1rekdj4</string>
	<key>API_KEY</key>
	<string>AIzaSyB4erD-IdYaz37SSbfZYCtgCI2IgNKjASU</string>
	<key>GCM_SENDER_ID</key>
	<string>620115491413</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.LambdaSchool.Message-Board</string>
	<key>PROJECT_ID</key>
	<string>message-board-34041</string>
	<key>STORAGE_BUCKET</key>
	<string>message-board-34041.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:620115491413:ios:43f456321c06678a1ab2dc</string>
	<key>DATABASE_URL</key>
	<string>https://message-board-34041.firebaseio.com</string>
</dict>
</plist>